@media(max-width: 1200px) {
    .container {
        width: 100%;
    }
    .main_section_wrapper {
        height: 800px;
    }  
    .header_wrapper {
        grid-auto-rows: 20% 35% 45%;
    }
    .calc_nav {
        grid-template-columns: 1fr 1fr;
        padding: 0 8rem;
        grid-gap: 5rem;
        grid-row-gap: 3rem;
    }  
    .calc_nav > div:nth-child(3) {
        grid-column: 1/3;
        min-height: 2rem;
    }
    .calc_nav > a:nth-child(6) {
        grid-column: 1/3;
    }
    .calc_headline > h1 {
        padding-bottom: 2rem;
    }
}
@media(max-width: 1000px) {
    .header_nav {
        flex-direction: column;
    }
    .section_services {
        grid-template-columns: 1fr 1fr;
    }
    .services_box {
        padding: 2rem 1rem;
    }
    .services_box > img,
    .services_box > h6,
    .services_box > p {
        padding-bottom: 1rem;
    }
}
@media(max-width: 800px) {
    .calc_nav > a {
        grid-column: 1/3;
    }
    .main_section_wrapper {
        height: 1100px;
    }  
    .header_wrapper {
        grid-auto-rows: 20% 25% 55%;
    }
}
@media(max-width: 700px) {
    .section_services {
        grid-template-columns: 1fr;
    }
}
@media(max-width: 600px) {
    .calc_nav {
        padding: 0 1rem;
    }
}